﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <!-- HEADER START-->
        <div class="col-lg-12">
            <nav class="navbar navbar-inverse nav nav-pills">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Employee</a></li>
                    <li><a href="#">WorkLoad</a></li>
                    <li><a href="vocation.html">Vocation</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form name="adduser" class="form-inline" novalidate role="form" ng-submit="AddUser(adduser.$valid)">
                <!--START ADD WORKER FORM-->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           required
                           name="WorkerName"
                           ng-model="name"
                           ng-pattern="^(([a-zA-Z0-9-_ ]+)|(((\xD0[\x80-\xBF])|(\xD1[\x80-\xBF])|([0-9-_ ]))+))$"
                           class="form-control"
                           placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label for="identKey">Ident Key</label>
                    <input type="text"
                           id="identKey"
                           required
                           name="WorkerName"
                           ng-model="identKey"
                           class="form-control"
                           placeholder="Enter name" />
                </div>
                <div class="form-group">
                    <label for="vocation">Vocation</label>
                    <select name="vocation" class="form-control" id="vocation" ng-model="vocation">
                        <option value="" selected>None</option>
                        <option ng-repeat="option in vocations.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <span class="help-block"
                          ng-show="adduser.name.$invalid && !adduser.name.$pristine">
                        You name is required.
                    </span>
                </div>
                <div class="form-group">
                    <label for="perent">Perent</label>
                    <select name="perent" class="form-control" id="perent" ng-model="perent">
                        <option value="" selected>None</option>
                        <option ng-repeat="perent in perents.availableOptions" value="{{perent.id}}">{{perent.name}}</option>
                    </select>
                    <span class="help-block"
                          ng-show="adduser.name.$invalid && !adduser.name.$pristine">
                        You name is required.
                    </span>
                </div>
                <div class="form-group">
                    <label for="date">Is driver</label>
                    <input name="isDriver"
                           type="checkbox"
                           ng-model="driver"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input name="date"
                           required
                           type="date"
                           ng-model="date"
                           class="form-control"
                           placeholder="Enter date" />
                </div>
                <div class="form-group">
                    <button type="submit" ng-click="addEmploye()" class="form-control btn btn-info" ng-disabled="!adduser.$valid" value="AddEmploye">Add</button>
                </div>
            </form>

            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search name" ng-model="searchEmployee">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>										
            <!--END ADD       WORKER FORM-->
        </div>

    </div>
    <div class="row">
        <!--START TABLE WORKER-->
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Employee</th>
                        <th>Position</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="worker in employe |filter:searchEmployee">
                        <td>{{$index+1}}</td>
                        <td><a ng-href="#/user/{{worker.id}}">{{worker.name}}</a></td>
                        <td>{{worker.vocation}}</td>
                        <td>{{worker.date|date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 																								
    <!--END TABLE WORKER-->
</div>

