*
{
	margin:0;
	padding: 0;
}
body
{
	background-image: url(img/bg.jpg);
	background-repeat: repeat;
}
.navbar-inverse .navbar-nav>li>a {
	color:#00FFFF;

}
.navbar-inverse .navbar-nav>li>a:hover {
	color:red;
}
.form-inline
{
margin-top:20px;
}
.form-group
{
margin-left:10px;
}
.table
{
margin-top:20px;
}
.biographyskills
{
	margin:150px auto;
}
img.foto
{
	 margin-left: 250px;
    float: left;

}
.biography
{
	margin-left: 650px;
}
.biography li
{
	list-style-type: none;
	font-size:15px;
}
.glyphicon-user
{
	margin-right:20px;
}
.glyphicon-cog
{
	margin-right:20px;
}
.glyphicon-tower
{
	margin-right:20px;
}
.glyphicon-log-in
{
	margin-right:20px;
}
.glyphicon-education
{
	margin-right:20px;
}
.glyphicon-plane
{
margin-right:20px;
}
.droplist
{
	margin-left: 35px;
    margin-top: -20px;
}
   .urgently {
    background-color: red;
}
.ill {
    background-color: yellow;
}

.holiday {
    background-color: green;
}