﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <link rel="stylesheet" href="styles/style.css">

    <style>
        .help-block {
            height: 10px;
            width: 200px;
        }
    </style>

    <script>


        var myApp = angular.module('myApp', []);
        myApp.controller('employeCtrl', function ($scope, $http) {

            var allPeoples = $http.get('/api/webapi/peoples').success(function(response) {
                $scope.employe = response;
            });

            var allVocations = $http.get('/api/webapi/vocations').success(function (response) { 
                $scope.vocations = { availableOptions: response };
            });

            var allPerents = $http.get('/api/webapi/peoples').success(function (response) {
                $scope.perents = { availableOptions: response };
            });

            $scope.showClient = function(client) {
              $location.path('#/user/' + client.tagid);
            };


            $scope.addEmploye = function () {
            if ($scope.name!='')
            {
                var object = {
                    name: $scope.name,
                    vocation_id: $scope.vocation,
                    isDriver: $scope.driver == true ? 1 : 0,
                    identKey: $scope.identKey,
                    perent_id: $scope.perent,
                    startDate: $scope.date
                };


                var res = $http.post('/api/webapi/AddUser', object);
				res.success(function(data, status, headers, config) {
					$scope.employe.push(data);
				});
				res.error(function(data, status, headers, config) {
					alert( "failure message: " + JSON.stringify({data: data}));
				});

                	
                }
            }
        })
        </script>

</head>
<body ng-app="myApp" ng-controller="employeCtrl">
    @RenderBody()
</body>
</html>